<mat-card>
  <h3>{{languages.stringAssets.languageSelect}}</h3>
  <mat-selection-list #language [multiple]="false">
    <mat-list-option *ngFor="let language of supportedLanguages" [value]="language[0]"
      [selected]="language[0] == defaultLanguage">
      {{language[1]}}
    </mat-list-option>
  </mat-selection-list>

  <div class="actions">
    <button mat-raised-button color="primary"
      (click)="setLanguage(language.selectedOptions.selected[0]?.value)">Submit</button>
  </div>
</mat-card>
